<%-include('../includes/sidebar.ejs',{user:user}) %>
        <main>

            <div class="page-header">
                <h1>Devices</h1>
            </div>

            <div class="page-content">
                <nav class="topnav">
                        <a class="<%=path==='/devices'?'active' : ' ' %>" href="/devices" active="">Devices</a>
                        <a class="<%=path==='/add-devices'?'active' : ' ' %>" href="/add-devices">Add Devices</a> 
                </nav>
                
            </div>
            <div>
              <!-- devices   -->
              <main>
                <% if (devices.length > 0) { %>
                    <div class="grid">
                        <% let cnt=1 %>
                        <% for (let device of devices) { %>
                            <%let str=device.userId.toString()%>
                            <%if(id==str){%>
                                <div class="device-info">
                                    <p>Device No: <%=cnt%></p>
                                    <p>Device Name: <%=device.deviceName%></p>
                                    <p>Device Location: <%=device.location%></p>
                                    <p>Device Status: Online</p>
                                    <a href="/devices/<%=device._id%>">Dashboard</a>
                                    <%cnt=cnt+1%>
                                </div>
                            <%}%>
                        <%}%>
                    </div>
                    <% } else { %>
                        <h1>No Devices Found</h1>
                        <% } %>
            </main>
            </div>
        </main>
    </div>

    

</body>

</html>